/* You can add global styles to this file, and also import other style files */
@import '../../../projects/annotorious/src/lib/styles/annotorious.css';
.viewer-container {
  width: 1280px;
  height: 871px;
  border: 1px solid #ccc;
  margin: 20px auto;
}
