/* You can add global styles to this file, and also import other style files */
@import '../../../projects/annotorious/src/lib/styles/annotorious.css';
.viewer-container {
  border: 1px solid #ccc;
  margin-right: auto;
  margin-left: auto;
}
